<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title th:text="${title}"></title>
  <link rel="icon" th:href="${favicon}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</head>

<body>

<header th:fragment="navigation">

  <nav class="navbar navbar-expand-lg w3-blue rounded">
    <a class="nav-link" href="/">
      <img src="/images/exam_pic.jpg" width="40px" alt="Exam picture">
    </a>

    <a th:href = "@{/about}" class="nav-link text-white text-center active h3">Online Examination System</a>
    <!--<header	class="w3-container w3-blue">
      <h1 >Online Examination System</h1>
    </header>-->





    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav row">

        <li class="nav-item">
          <a class="nav-link text-white active h5"
             sec:authorize="!isAuthenticated()"
             th:href="@{/users/login}">Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active h5"
             sec:authorize="!isAuthenticated()"
             th:href="@{/users/register}">
            Register
          </a>
        </li>

        <li sec:authorize="isAuthenticated()" class="nav-item">
          <form th:action="@{/logout}" method="POST">
            <button type="submit" style="color: #0a0f17" class="nav-link">
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur">
  <div class="container-fluid text-center">
    <div class="h5 text-white">
      &copy;Ivan Panchev for Softuni 2021. All rights reserved.
    </div>
  </div>
</footer>

</body>

</html>
