.bg-nav {
    background-color: rgba(65, 1, 81, 0.95);
}

.my-index-div {
    min-height: 56.6vh;
    max-height: 100%;
}

main {
    min-height: 90.2vh;
}


footer {
    position: absolute;
    width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    z-index: 2;
    width: 100%;
}

body {
    /*background-image: ;*/
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.homeBackground {
    height: 100%;
    background: url("../images/exam.svg") no-repeat center;
    background-size: cover;
}

.adminBackground{
    background: url("../images/admin.jpg") no-repeat center;
    background-size: cover;
}

.aboutBackground{
    background: url("../images/under-construction.png") no-repeat center;
    background-size: cover;
}



.carouselExampleIndicators {
    height: 500px;
}

.carousel-item img {
    height: 500px;
}


input:valid {
    border: lawngreen solid 2px;
}

input:invalid {
    border: red solid 2px;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, purple);
}

.white-bg {
    background: #ffffff
}

.gray-bg {
    background: #f5f5f5
}

.gray-bg {
    background: #f7f7fd
}

.white-bg {
    background: #fff
}

.black-bg {
    background: #16161a
}

.theme-bg {
    background: #0f61ef
}

.brand-bg {
    background: #f1f4fa
}

.testimonial-bg {
    background: #f9fafc
}

.white-color {
    color: #fff
}

.red-color {
    color: #FF0000
}

.black-color {
    color: #16161a
}

.theme-color {
    color: #0f61ef
}

