<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body >
<header th:replace="fragments/commons :: navigation"></header>


<main class = "adminBackground">
    <nav th:replace="~{fragments/Navigation :: topBar}"></nav>
    <div class="w3-container w3-padding-large white-color" align="center">
        <h2 th:text="${'Welcome ' + session.userFirstName}"></h2>
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>