<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>
<main>
    <nav th:replace="~{fragments/Navigation :: topBar}"></nav>
    <div class="container" >
        <table class="table table-hover w-100 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-heading">#</th>
                <th class="col-md-2 text-heading">Exam name</th>
                <th class="col-md-2 text-heading">Questions</th>
                <th class="col-md-2 text-heading">Published</th>
                <th class="col-md-2 text-heading">Actions</th>
            </tr>
            </thead>

            <tbody>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')" th:each="exam, iter : ${exams}">
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center" th:utext="${iter.index + 1}"></th>
                    <td class="col-md-2 text-center" th:utext="${exam.name}"></td>
                    <td class="col-md-2 text-center" th:utext="${exam.questions.size()}"></td>

                    <td class="col-md-2 text-center" th:utext="${exam.published}"></td>


                    <th:block>
                        <td class="col-md-1 text-center">
                            <form th:action="@{/exams/edit/{id}(id=${exam.id})}" method="get">
                                <button style="color: #0a0f17">EDIT</button>
                            </form>
                        </td>
                    </th:block>

                    <td class="col-md-1 text-center red-color">
                        <form th:action="@{/exams/publish/{id}(id=${exam.id})}" method="get">
                            <button style="color: #0a0f17">PUBLISH</button>
                        </form>
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>