<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>
<main>
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Something went wrong!</h2>
                <img src="https://thumbs.dreamstime.com/b/broken-robot-fix-hand-drawn-vector-cartoon-illustration-trying-to-itself-81326219.jpg"
                     alt="disassembled robot">
            </div>

        </div>
    </section><!-- End Doctors Section -->
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>