<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body >
<header th:replace="fragments/commons :: navigation"></header>


<main class="p-5 align-content-center bg-blur">
<div class="w3-container" align="center">
    <h2 th:text="Welcome"></h2>
</div>
<div class="w3-panel" align="center">
    <h4 align="center">Please log in:</h4>
    <form class ="w3-container w3-card w3-light-grey" style="width:50%;"
          th:action="@{/users/login}" method="post">

        <p align="left">
            <label th:for="username">Username:</label>
            <input class="w3-input w3-border"
                   type="text"
                   name="username"
                   id="username"
                   required minlength="4" maxlength="20"
                   autofocus="autofocus" />
        </p>
        <p align="left">
            <label for="password">Password:</label>
            <input class="w3-input w3-border"
                   type="password"
                   name="password"
                   id="password"
                   required minlength="5" maxlength="20" />
        </p>
        <p>
            <input class="w3-btn w3-block w3-blue w3-m"
                   type="submit" value="Login">
        </p>
    </form>
</div>
    <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
        This username and password combination does not exist.
    </div>
<div align="center">
        <a th:href="@{/users/register}"> If you don't have an account click to Register new account</a>
</div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>